@font-face {
    font-family:"Pou";
    src:    url("../fonts/Pou.eot?")                format("eot"),
            url("../fonts/Pou.woff")                format("woff"),
            url("../fonts/Pou.ttf")                 format("truetype"),
            url("../fonts/Pou.svg#Pou")    format("svg");
    font-weight:normal;
    font-style:normal;
}
