

#Cocos2dGameContainer {
  position: absolute;
  margin: 0;
  overflow: hidden;
  left: 0px;
  top: 0px;
}



.progress-bar {
    background-color: #1a1a1a;
    position: absolute;
    left: 10%;
    top: 80%;
    height: 14px;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out; 
    background-color: #34c2e3;    
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    
    animation: animate-stripes 1s linear infinite;             
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

h1 {
    color: #444;
    text-shadow: 3px 3px 15px;
}

#GameDiv {
    margin: 0 auto;
    position:relative;
    /*
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	*/
}

#Cocos3dGameContainer, #GameCanvas {
  width: 85.4166vw;
  height: 36.3541vw;
}

.centered{
  width: 85.4166vw;
  height: 36.3541vw;
}