body {
    background-image: url("/img/bg.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

    animation: colorRotate 1.5s linear 0s infinite;
}

a {
    animation: colorRotate 1.5s linear 0s infinite;
}

.menu {
    position: fixed;
    top: 52px;
    left: 8px;

    padding: 4px 8px;
    border: 2px solid blue;
}

.menu a {
    display: block;
    margin: 2px 0;
}

.menu-title {
    font-size: 20px;
    animation: reverseColorRotate 1.5s linear 0s infinite;
}

.rainbow {
    animation: colorRotate 1.5s linear 0s infinite;
}

.responsive {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.responsive iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}
	

@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}

@keyframes reverseColorRotate {
    from {
        color: #ffff66;
    }
    10% {
        color: #ff6600;
    }
    50% {
        color: #ff00ff;
    }
    75% {
        color: #33ff99;
    }
    100% {
        color: #ffff66;
    }
}
