/* Font */
@font-face {
	font-family: minecraftia;
	src: url( 'minecraftia.ttf' );
}

/* Ogolnie */
body {
	height: 100%;
	font-family: minecraftia;
	font-size: 16px;
	text-shadow: #3f3f3f 2px 2px 0px;
	background: url( '../media/background.png' );
}

/* Render */

#renderSurface {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* Selector */
#materialSelector {
	position: relative;
	margin: auto;
	bottom: 20px;
	background: rgba( 0, 0, 0, 0.6 );
}

#materialSelector tr {
	height: 70px;
}

#materialSelector td {
	width: 70px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0.3;
	background: url( '../media/blockthumbs.png' );
	background-position: 0px 0px;
}

#materialSelector td:hover {
	opacity: 0.8;
}

/* Info box */
#infobox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 260px;
	height: 100px;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
	background: rgba( 0, 0, 0, 0.4 );
	color: white;
}

#infobox_text {
	position: absolute;
	bottom: 8px;
	text-shadow: none;
}

#infobox_entry {
	position: absolute;
	left: 17px;
	bottom: 15px;
	width: 310px;
	height: 27px;
	padding-left: 10px;
	padding-bottom: 2px;
	background: rgba( 0, 0, 0, 0.6 );
	border: none;
	outline: none;
	color: white;
	font-family: minecraftia;
	font-size: 15px;
}
#nickname {	
  position: absolute;	
  top: 40%;	
  left: 42%;
  width: 300px;
  cursor: default;
  color: #fff;	
}

#nickname input {	
  width: 100%;
  background: none;	
  border: none;	
  border-bottom: 1px solid #888;	
  outline: none;	
  color: white;	
  font-family: minecraftia;	
  font-size: 24px;	
}	

/* Join information */	

#joininfo {	
  position: absolute;	
  top: 42%;
  width: 99%;
  cursor: default;	
  text-align: center;	
  color: #fff;	
  font-size: 24px;	
}

/* Block selector */

#blocks {
	position: absolute;
	width: 720px;
	height: 600px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 100px;
	margin-bottom: 30px;
	background: #C5C7C7;
	color: white;
	border-radius: 7px;
	box-shadow: 0 0 5px #000;
	padding:0 35px;
}

.block{
	border-radius: 1px;
	width: 64px;
	height: 64px;
	opacity: 0.75;
}

.block:hover{
	opacity: 1.0;
}

#crosshair {
    width:40px;
    height:40px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0 0 -20px;
}
.crosshair_vertical {
    position: absolute;
    height: 0px;
    width: 40px;
    top: 0px;
    left: 0;
    border-width: 4px 0px 0px 0px;
    border-style: solid;
    border-color: #99aadd;
}
.crosshair_horizontal_up {
    position: absolute;
    height: 20px;
    width: 0px;
    top: 0;
    left: 50%;
    bottom: 50%;
    border-width: 0px 4px 0px 0px;
    border-style: solid;
    border-color: #99aadd;
    -webkit-transform: rotate(90deg);
}

.crosshair_horizontal_down {
    position: absolute;
    height: 20px;
    width: 0px;
    bottom: calc(50% + 18px);
    left: 50%;
    border-width: 0px 4px 0px 0px;
    border-style: solid;
    border-color: #99aadd;
    -webkit-transform: rotate(90deg);
}